$black: #000;
$white: #fff;
$pink: #fa6bff;
$yellow: #ffa900;
$gray: #5f5d5d;
$theme-color: #a749ff;
$footer-bg: #f1f1f1;
$breadcrumb-bg: #f7f7f7;





// Responsive
@mixin breakpoint($point) {
  @if $point == xxl {
    @media (max-width: 1400px) {
      @content;
    }
  } @else if $point == xl {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 576px) {
      @content;
    }
  }
}
